.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: '';
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0
}

[class^='ui-'],
[class^='ui-']:after,
[class^='ui-']:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ui-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400
}

.ui-widget-content {
    border: 1px solid #d5d9e0;
    background: #fff;
    color: #333
}

.ui-widget-content a {
    color: #333
}

.ui-widget-header {
    border: 1px solid #d5d9e0;
    color: #333;
    font-weight: 400;
    background: #e9e9e9
}

.ui-widget-header a {
    color: #333
}

.ui-widget-overlay {
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-widget-shadow {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.ui-front {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d5d9e0;
    background: #fff;
    color: #333;
    font-weight: normal
}

.ui-state-default,
.ui-state-default:active,
.ui-state-default:hover,
.ui-state-default:focus,
.ui-state-default a,
.ui-state-default a:active,
.ui-state-default a:hover,
.ui-state-default a:focus,
.ui-widget-content .ui-state-default,
.ui-widget-content .ui-state-default:active,
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:focus,
.ui-widget-content .ui-state-default a,
.ui-widget-content .ui-state-default a:active,
.ui-widget-content .ui-state-default a:hover,
.ui-widget-content .ui-state-default a:focus,
.ui-widget-header .ui-state-default,
.ui-widget-header .ui-state-default:active,
.ui-widget-header .ui-state-default:hover,
.ui-widget-header .ui-state-default:focus,
.ui-widget-header .ui-state-default a,
.ui-widget-header .ui-state-default a:active,
.ui-widget-header .ui-state-default a:hover,
.ui-widget-header .ui-state-default a:focus {
    color: #333;
    text-decoration: none
}

.ui-state-default-text,
.ui-widget-content .ui-state-default-text,
.ui-widget-header .ui-state-default-text {
    color: #333
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 1px solid #adadad;
    background: #ebebeb;
    color: #333;
    font-weight: normal
}

.ui-state-hover,
.ui-state-hover:active,
.ui-state-hover:hover,
.ui-state-hover:focus,
.ui-state-hover a,
.ui-state-hover a:active,
.ui-state-hover a:hover,
.ui-state-hover a:focus,
.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-hover:active,
.ui-widget-content .ui-state-hover:hover,
.ui-widget-content .ui-state-hover:focus,
.ui-widget-content .ui-state-hover a,
.ui-widget-content .ui-state-hover a:active,
.ui-widget-content .ui-state-hover a:hover,
.ui-widget-content .ui-state-hover a:focus,
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-hover:active,
.ui-widget-header .ui-state-hover:hover,
.ui-widget-header .ui-state-hover:focus,
.ui-widget-header .ui-state-hover a,
.ui-widget-header .ui-state-hover a:active,
.ui-widget-header .ui-state-hover a:hover,
.ui-widget-header .ui-state-hover a:focus {
    color: #333;
    text-decoration: none
}

.ui-state-hover-text,
.ui-widget-content .ui-state-hover-text,
.ui-widget-header .ui-state-hover-text {
    color: #333
}

.ui-state-focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #adadad;
    background: #ebebeb;
    color: #333;
    font-weight: normal
}

.ui-state-focus,
.ui-state-focus:active,
.ui-state-focus:hover,
.ui-state-focus:focus,
.ui-state-focus a,
.ui-state-focus a:active,
.ui-state-focus a:hover,
.ui-state-focus a:focus,
.ui-widget-content .ui-state-focus,
.ui-widget-content .ui-state-focus:active,
.ui-widget-content .ui-state-focus:hover,
.ui-widget-content .ui-state-focus:focus,
.ui-widget-content .ui-state-focus a,
.ui-widget-content .ui-state-focus a:active,
.ui-widget-content .ui-state-focus a:hover,
.ui-widget-content .ui-state-focus a:focus,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-focus:active,
.ui-widget-header .ui-state-focus:hover,
.ui-widget-header .ui-state-focus:focus,
.ui-widget-header .ui-state-focus a,
.ui-widget-header .ui-state-focus a:active,
.ui-widget-header .ui-state-focus a:hover,
.ui-widget-header .ui-state-focus a:focus {
    color: #333;
    text-decoration: none
}

.ui-state-focus-text,
.ui-widget-content .ui-state-focus-text,
.ui-widget-header .ui-state-focus-text {
    color: #333
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #d6e9c6;
    background: #dff0d8;
    color: #3c763d;
    font-weight: normal
}

.ui-state-highlight,
.ui-state-highlight:active,
.ui-state-highlight:hover,
.ui-state-highlight:focus,
.ui-state-highlight a,
.ui-state-highlight a:active,
.ui-state-highlight a:hover,
.ui-state-highlight a:focus,
.ui-widget-content .ui-state-highlight,
.ui-widget-content .ui-state-highlight:active,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:focus,
.ui-widget-content .ui-state-highlight a,
.ui-widget-content .ui-state-highlight a:active,
.ui-widget-content .ui-state-highlight a:hover,
.ui-widget-content .ui-state-highlight a:focus,
.ui-widget-header .ui-state-highlight,
.ui-widget-header .ui-state-highlight:active,
.ui-widget-header .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:focus,
.ui-widget-header .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a:active,
.ui-widget-header .ui-state-highlight a:hover,
.ui-widget-header .ui-state-highlight a:focus {
    color: #3c763d;
    text-decoration: none
}

.ui-state-highlight-text,
.ui-widget-content .ui-state-highlight-text,
.ui-widget-header .ui-state-highlight-text {
    color: #3c763d
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #adadad;
    background: #ebebeb;
    color: #333;
    font-weight: normal
}

.ui-state-active,
.ui-state-active:active,
.ui-state-active:hover,
.ui-state-active:focus,
.ui-state-active a,
.ui-state-active a:active,
.ui-state-active a:hover,
.ui-state-active a:focus,
.ui-widget-content .ui-state-active,
.ui-widget-content .ui-state-active:active,
.ui-widget-content .ui-state-active:hover,
.ui-widget-content .ui-state-active:focus,
.ui-widget-content .ui-state-active a,
.ui-widget-content .ui-state-active a:active,
.ui-widget-content .ui-state-active a:hover,
.ui-widget-content .ui-state-active a:focus,
.ui-widget-header .ui-state-active,
.ui-widget-header .ui-state-active:active,
.ui-widget-header .ui-state-active:hover,
.ui-widget-header .ui-state-active:focus,
.ui-widget-header .ui-state-active a,
.ui-widget-header .ui-state-active a:active,
.ui-widget-header .ui-state-active a:hover,
.ui-widget-header .ui-state-active a:focus {
    color: #333;
    text-decoration: none
}

.ui-state-active-text,
.ui-widget-content .ui-state-active-text,
.ui-widget-header .ui-state-active-text {
    color: #333
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #ebccd1;
    background: #f2dede;
    color: #a94442;
    font-weight: normal
}

.ui-state-error,
.ui-state-error:active,
.ui-state-error:hover,
.ui-state-error:focus,
.ui-state-error a,
.ui-state-error a:active,
.ui-state-error a:hover,
.ui-state-error a:focus,
.ui-widget-content .ui-state-error,
.ui-widget-content .ui-state-error:active,
.ui-widget-content .ui-state-error:hover,
.ui-widget-content .ui-state-error:focus,
.ui-widget-content .ui-state-error a,
.ui-widget-content .ui-state-error a:active,
.ui-widget-content .ui-state-error a:hover,
.ui-widget-content .ui-state-error a:focus,
.ui-widget-header .ui-state-error,
.ui-widget-header .ui-state-error:active,
.ui-widget-header .ui-state-error:hover,
.ui-widget-header .ui-state-error:focus,
.ui-widget-header .ui-state-error a,
.ui-widget-header .ui-state-error a:active,
.ui-widget-header .ui-state-error a:hover,
.ui-widget-header .ui-state-error a:focus {
    color: #a94442;
    text-decoration: none
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #a94442
}

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    background-image: none
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .5;
    font-weight: normal
}

.ui-corner-all {
    border-radius: 0
}

.ui-corner-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.ui-corner-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.ui-corner-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.ui-corner-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.ui-corner-tl {
    border-top-left-radius: 0
}

.ui-corner-tr {
    border-top-right-radius: 0
}

.ui-corner-bl {
    border-bottom-left-radius: 0
}

.ui-corner-br {
    border-bottom-right-radius: 0
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
    z-index: 99991050 !important;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.ui-dialog-titlebar {
    padding: 15px 15px;
    position: relative;
    border-radius: 0;
    border-width: 0 0 1px;
    background: rgba(0, 0, 0, 0);
    margin: 0;
    color: #333;
    border-color: #d5d9e0
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: 15px;
    top: calc(50% - 11px);
    width: 20px;
    height: 20px;
    padding: 1px
}

.ui-dialog-title {
    float: left;
    width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ui-dialog-content {
    position: relative;
    border: 0;
    padding: 20px;
    background: none;
    overflow: auto
}

.ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    padding: 20px
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right
}

.ui-dialog-buttonpane button {
    cursor: pointer
}

.ui-dialog-buttonpane button:not(:last-child) {
    margin-right: 10px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.ui-tabs {
    position: relative;
    padding: 0;
    border: none
}

.ui-tabs-nav {
    margin: 0;
    padding: 0;
    border-color: #d5d9e0;
    border-width: 0 0 1px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0)
}

.ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 10px 15px;
    text-decoration: none
}

.ui-tabs-nav>li {
    list-style: none;
    float: left;
    display: block;
    position: relative;
    top: 0;
    margin: 1px 0 -1px 0;
    padding: 0;
    -webkit-transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.ui-tabs-nav>li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs-nav>li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs-nav>li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer
}

.ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 15px 0 0;
    background: none
}

.ui-state-active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.ui-accordion-header,
.ui-accordion-content {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

.ui-accordion-header.ui-state-default,
.ui-accordion-header.ui-state-hover,
.ui-accordion-header.ui-state-focus,
.ui-accordion-header.ui-state-active {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.ui-datepicker-calendar .ui-state-default {
    border-color: transparent;
    background: transparent;
    border-radius: 0
}

.ui-datepicker-calendar .ui-state-hover {
    background: #e9e9e9
}

.ui-datepicker-calendar .ui-state-highlight {
    color: #428bca
}

.ui-datepicker-calendar .ui-state-active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #428bca;
    color: #fff
}

.ui-dialog-titlebar-close {
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out
}

.ui-dialog-titlebar-close.ui-state-default {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    opacity: 0.25
}

.ui-dialog-titlebar-close.ui-state-hover {
    opacity: 1
}

.ui-menu-item.ui-state-active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui-slider,
.ui-progressbar {
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
}

.ui-slider-range,
.ui-progressbar-value {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15)
}

.ui-spinner-input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.ui-spinner-input:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.ui-tabs-nav {
    border-color: #1f294d
}

.ui-tabs-nav .ui-tabs-anchor {
    min-width: 110px;
    padding: 11px 17px 12px;
    font-size: 14px;
    font-weight: bold
}

.ui-tabs-nav>li {
    margin: 0px 0 -1px -1px;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none
}

.ui-tabs-nav>li.ui-state-default {
    background-color: #e1e1e1;
    border-color: #ccc #ccc #1f294d !important;
    border-width: 1px;
    border-style: solid;
    outline: none
}

.ui-tabs-nav>li.ui-state-default,
.ui-tabs-nav>li.ui-state-default:active,
.ui-tabs-nav>li.ui-state-default:hover,
.ui-tabs-nav>li.ui-state-default:focus,
.ui-tabs-nav>li.ui-state-default a,
.ui-tabs-nav>li.ui-state-default a:active,
.ui-tabs-nav>li.ui-state-default a:hover,
.ui-tabs-nav>li.ui-state-default a:focus {
    color: #777;
    text-decoration: none
}

.ui-tabs-nav>li.ui-state-hover {
    background-color: #e1e1e1
}

.ui-tabs-nav>li.ui-state-hover,
.ui-tabs-nav>li.ui-state-hover:active,
.ui-tabs-nav>li.ui-state-hover:hover,
.ui-tabs-nav>li.ui-state-hover:focus,
.ui-tabs-nav>li.ui-state-hover a,
.ui-tabs-nav>li.ui-state-hover a:active,
.ui-tabs-nav>li.ui-state-hover a:hover,
.ui-tabs-nav>li.ui-state-hover a:focus {
    color: #444;
    text-decoration: none
}

.ui-tabs-nav>li.ui-state-active {
    position: relative;
    background-color: #1f294d;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #1f294d !important
}

.ui-tabs-nav>li.ui-state-active,
.ui-tabs-nav>li.ui-state-active:active,
.ui-tabs-nav>li.ui-state-active:hover,
.ui-tabs-nav>li.ui-state-active:focus,
.ui-tabs-nav>li.ui-state-active a,
.ui-tabs-nav>li.ui-state-active a:active,
.ui-tabs-nav>li.ui-state-active a:hover,
.ui-tabs-nav>li.ui-state-active a:focus {
    color: #fff;
    text-decoration: none
}

.ui-tabs-nav>li.ui-state-active:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    right: 0;
    width: 10px;
    height: 44px;
    background: url(../img/contents/bg-tab-right.png) no-repeat top right
}

.ui-tabs-nav>li.ui-state-active:last-of-type {
    min-width: 128px;
    padding-right: 15px;
    border-right: 0
}

.ui-tabs-nav>li.ui-state-active:last-of-type:after {
    width: 28px;
    background: url(../img/contents/bg-tab-right-last.png) no-repeat top right
}

.ui-tabs-nav>li.ui-state-active+.ui-state-default {
    border-left: 0 !important
}

.ui-tabs-nav>li.ui-state-active+.ui-state-default:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 44px;
    background: url(../img/contents/bg-tab-left.png) no-repeat top right
}

.ui-tabs-panel {
    padding-top: 30px
}

.ui-tooltip {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui-jqgrid {
    position: relative;
    margin: 0px;
    overflow: hidden
}

.ui-jqgrid.ui-widget-content {
    border: 1px solid #e5e5e5;
    border-top: 1px solid #5c95e6
}

.ui-jqgrid.ui-corner-all {
    border-radius: 0
}

.ui-jqgrid .ui-jqgrid-view {
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    font-size: 12px
}

.ui-jqgrid .ui-jqgrid-view input {
    margin: 0 !important
}

.ui-jqgrid .ui-jqgrid-view button,
.ui-jqgrid .ui-jqgrid-view input,
.ui-jqgrid .ui-jqgrid-view select,
.ui-jqgrid .ui-jqgrid-view textarea {
    font-size: 13px
}

.ui-jqgrid .ui-jqgrid-view input[type="checkbox"] {
    width: 14px;
    height: 14px;
    top: 1px;
    left: 2px
}

.ui-jqgrid .ui-jqgrid-titlebar {
    padding: 12px 13px;
    position: relative;
    font-size: 12px;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    border-bottom: 1px solid #BEBEBE
}

.ui-jqgrid .ui-jqgrid-caption {
    text-align: left
}

.ui-jqgrid .ui-jqgrid-title {
    font-size: 15px;
    color: #333
}

.ui-jqgrid .ui-jqgrid-titlebar-close {
    position: absolute;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    right: 10px;
    cursor: pointer
}

.ui-jqgrid .ui-jqgrid-titlebar-close span {
    display: block;
    margin: 1px
}

.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
    padding: 0
}

.ui-jqgrid .ui-jqgrid-hdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f2f2f2 !important;
    border: 0 none
}

.ui-jqgrid .ui-jqgrid-hdiv.space .ui-jqgrid-hbox {
    padding-right: 0
}

.ui-jqgrid .ui-jqgrid-hbox {
    float: left;
    padding-right: 19px;
    background-color: #f2f2f2
}

.ui-jqgrid _:-ms-lang(x),
.ui-jqgrid _:-webkit-full-screen,
.ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 11px
}

.ui-jqgrid .ui-jqgrid-htable {
    table-layout: auto;
    margin: 0;
    border-right: 0 solid #d9d9d9
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 34px;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    color: #333
}

.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 1.2
}

.ui-jqgrid .ui-jqgrid-htable th div.group {
    height: 30px;
    padding-top: 7px;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5
}

.ui-jqgrid .ui-jqgrid-htable th div br {
    content: '';
    display: block;
    margin: 0
}

.ui-jqgrid .ui-jqgrid-htable th _:-ms-lang(x),
.ui-jqgrid .ui-jqgrid-htable th _:-webkit-full-screen,
.ui-jqgrid .ui-jqgrid-htable th div {
    padding: 6px 5px
}

.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
    background: #fff
}

.ui-jqgrid .ui-jqgrid-bdiv .nodata {
    display: none;
    height: 80px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ui-jqgrid .ui-jqgrid-bdiv .nodata.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ui-jqgrid .ui-jqgrid-bdiv .nodata b {
    display: contents
}

.ui-jqgrid .ui-jqgrid-bdiv.space {
    padding-right: 17px
}

.ui-jqgrid .ui-jqgrid-bdiv.space:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 17px;
    height: 100%;
    border-left: 1px solid #f2f2f2
}

.ui-jqgrid .ui-jqgrid-bdiv>div {
    border-right: 1px solid transparent
}

.ui-jqgrid _:-ms-lang(x),
.ui-jqgrid _:-webkit-full-screen,
.ui-jqgrid .ui-jqgrid-bdiv.space {
    padding-right: 12px
}

.ui-jqgrid _:-ms-lang(x):before,
.ui-jqgrid _:-webkit-full-screen:before,
.ui-jqgrid .ui-jqgrid-bdiv.space:before {
    width: 12px
}

.ui-jqgrid .ui-jqgrid-btable {
    table-layout: fixed;
    margin: 0;
    outline-style: none
}

.ui-jqgrid .ui-jqgrid-btable input[type="checkbox"] {
    top: 2px;
    left: 2px
}

.ui-jqgrid .ui-jqgrid-btable.treegrid td {
    border-bottom: 1px solid #ccc
}

.ui-jqgrid .ui-jqgrid-btable.treegrid td .ui-icon {
    top: 3px
}

.ui-jqgrid .ui-jqgrid-btable.treegrid td .cell-wrapper,
.ui-jqgrid .ui-jqgrid-btable.treegrid td .cell-wrapperleaf {
    left: 3px
}

.ui-jqgrid .ui-jqgrid-btable.treegrid tr.jqgfirstrow td {
    border-bottom: 0 none
}

.ui-jqgrid .ui-jqgrid-btable.treegrid tr.ui-state-highlight td .ui-icon:before {
    color: #fff
}

.ui-jqgrid .frozen-div {
    z-index: 9;
    overflow: hidden;
    height: auto !important;
    border-right: 1px solid #ccc !important
}

.ui-jqgrid .frozen-div .ui-jqgrid-htable th.ui-th-ltr {
    background: #f2f2f2
}

.ui-jqgrid .frozen-bdiv {
    background: rgba(204, 204, 204, 0.8);
    border-right: 1px solid rgba(217, 217, 217, 0.2) !important;
    overflow: hidden
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .ui-jqgrid .frozen-bdiv {
        padding-top: 0
    }
}

.ui-jqgrid .frozen-bdiv .ui-jqgrid-btable {
    opacity: 0.8
}

.ui-jqgrid _:-ms-lang(x),
.ui-jqgrid _:-webkit-full-screen,
.ui-jqgrid .frozen-bdiv {
    padding-top: 1px
}

.ui-jqgrid .ui-th-div-ie {
    white-space: nowrap;
    zoom: 1
}

.ui-jqgrid .ui-jqgrid-resize {
    height: 20px;
    position: relative;
    cursor: e-resize;
    display: inline;
    overflow: hidden
}

.ui-jqgrid .ui-grid-ico-sort {
    overflow: hidden;
    position: absolute;
    display: inline;
    cursor: pointer;
    right: 0px
}

.ui-jqgrid .ui-icon-asc {
    margin-top: -4px;
    right: -1px
}

.ui-jqgrid .ui-icon-desc {
    margin-top: 3px;
    height: 12px
}

.ui-jqgrid .ui-i-asc {
    margin-top: 0;
    height: 16px
}

.ui-jqgrid .ui-i-desc {
    margin-top: 0;
    margin-left: 13px;
    height: 16px
}

.ui-jqgrid .ui-jqgrid-sortable {
    cursor: default
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico {
    position: relative;
    top: -8px;
    left: 5px
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort {
    width: 14px;
    margin-left: 0;
    right: auto;
    font-size: 12px;
    color: #fff
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort.ui-icon-asc {
    margin-top: 0;
    top: 0
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort.ui-icon-desc {
    height: auto;
    margin-top: 0;
    top: 5px
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort:before {
    display: none
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort.ui-icon-triangle-1-n {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #1f294d;
    border-radius: 1px
}

.ui-jqgrid .ui-jqgrid-sortable .s-ico .ui-grid-ico-sort.ui-icon-triangle-1-s {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #1f294d;
    border-radius: 1px
}

.ui-jqgrid tr.ui-search-toolbar th {
    border-top-width: 1px;
    border-top-color: inherit;
    border-top-style: ridge
}

.ui-jqgrid .ui-pg-button {
    height: auto
}

.ui-jqgrid .ui-pg-input,
.ui-jqgrid .ui-pg-selbox {
    height: auto;
    font-size: inherit
}

.ui-jqgrid .ui-state-highlight td {
    color: #000;
    background-color: #fff
}

.ui-jqgrid .ui-state-highlight td .ui-icon {
    color: #fff
}

.ui-jqgrid .ui-state-highlight+.ui-widget-content>td {
    border-top-color: #bce8f1
}

.ui-jqgrid .ui-jqgrid-pager {
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    margin: 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    height: auto;
    padding: 6px 10px;
    border-top: 1px solid #e5e5e5 !important
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
    padding: 0;
    float: left;
    position: relative
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
    float: left;
    width: 16px;
    text-align: center
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
    padding: 0;
    cursor: pointer
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span {
    position: relative;
    top: -1px;
    width: 23px;
    height: 25px;
    background: url(../img/layout/icon-paging.png) no-repeat;
    background-position-y: 10px;
    text-indent: -99999em
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span:before {
    display: none
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span.ui-icon-seek-first {
    background-position-x: -90px
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span.ui-icon-seek-prev {
    background-position-x: 10px
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span.ui-icon-seek-next {
    background-position-x: -40px
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button span.ui-icon-seek-end {
    background-position-x: -143px
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-button.ui-state-disabled span {
    background-position-y: -20px
}

.ui-jqgrid .ui-search-table {
    padding: 0;
    border: 0 none;
    height: 20px;
    width: 100%
}

.ui-jqgrid .ui-search-table .ui-search-oper {
    width: 20px
}

.ui-jqgrid .ui-search-table .ui-search-input>input,
.ui-jqgrid .ui-search-table .ui-search-input>select {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ui-jqgrid .ui-jqgrid-caption-rtl {
    text-align: right
}

.ui-jqgrid .ui-jqgrid-hbox-rtl {
    float: right;
    padding-left: 20px
}

.ui-jqgrid .ui-jqgrid-resize-ltr {
    float: right;
    margin: -2px -2px -2px 0
}

.ui-jqgrid .ui-jqgrid-resize-rtl {
    float: left;
    margin: -2px 0 -1px -3px
}

.ui-jqgrid .ui-sort-rtl {
    left: 0
}

.ui-jqgrid .tree-wrap-ltr {
    float: left
}

.ui-jqgrid .tree-wrap-rtl {
    float: right
}

.ui-jqgrid .ui-ellipsis {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.ui-jqgrid tr.ui-row-ltr td,
.ui-jqgrid tr.ui-row-ltr,
.ui-jqgrid table {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    border-bottom: 0 none
}

.ui-jqgrid tr.ui-row-ltr td {
    text-align: center;
    padding: 3px 8px 3px;
    font-size: 12px;
    line-height: unset
}

.ui-jqgrid _:-ms-lang(x),
.ui-jqgrid _:-webkit-full-screen,
.ui-jqgrid tr.ui-row-ltr td {
    padding: 7px 5px 7px
}

.ui-jqgrid tr.ui-row-rtl td {
    text-align: right
}

.ui-jqgrid tr.jqgfirstrow td {
    padding: 0 2px 0 2px;
    border-right-width: 0px;
    border-right-style: solid
}

.ui-jqgrid tr.jqgrow {
    outline: none;
    height: 30px;
    font-size: 12px
}

.ui-jqgrid tr.jqgrow td {
    word-wrap: break-word;
    font-weight: normal;
    overflow: hidden;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 1.2
}

.ui-jqgrid tr.jqgrow td:last-of-type {
    border-right: 0 none
}

.ui-jqgrid tr.jqgrow td br {
    content: '';
    display: block;
    margin: 0
}

.ui-jqgrid tr.jqgrow td span,
.ui-jqgrid tr.jqgrow td div {
    line-height: 1.2
}

.ui-jqgrid tr.jqgrow.ui-state-highlight td {
    background-color: #ffffff;
}

.ui-jqgrid tr.jqgrow.ui-priority-secondary {
    opacity: 1;
    background-color: #fff
}

.ui-jqgrid tr.jqgrow.ui-priority-secondary.ui-state-highlight td {
    background-color: #ffffff;
}

.ui-jqgrid tr.jqgrow.ui-state-hover {
    border-color: #e5e5e5
}

.ui-jqgrid tr.jqgrow.ui-state-hover td {
    color: #000;
    background-color: #e5f0ff
}

.ui-jqgrid tr.jqgrow.ui-state-highlight.ui-state-hover td {
    color: #000;
    background-color: #ffffff;
}

.ui-jqgrid tr.jqgrow:last-of-type {
    border-bottom: none
}

.ui-jqgrid tr.jqgroup {
    outline-style: none;
    background: rgba(161, 155, 75, 0.3)
}

.ui-jqgrid tr.jqgroup td {
    font-size: 12px;
    font-weight: normal;
    color: #000;
    overflow: hidden;
    white-space: pre;
    border-bottom: 1px solid rgba(161, 155, 75, 0.4)
}

.ui-jqgrid tr.jqgroup td b {
    font-size: 14px;
    font-weight: bold;
    color: #000
}

.ui-jqgrid tr.jqgroup td .ui-icon {
    margin: 4px 5px 0 12px !important;
    color: #000
}

.ui-jqgrid tr.jqgroup.gridghead_0 {
    background: #a19b4b
}

.ui-jqgrid tr.jqfoot td {
    font-weight: bold;
    overflow: hidden;
    white-space: pre;
    border-top: 1px solid #d9d9d9
}

.ui-jqgrid tr.jqfoot td .title {
    padding-right: 10px;
    color: #000;
    font-weight: bold;
    text-align: right
}

.ui-jqgrid tr.jqfoot:last-of-type td {
    border-bottom: 1px solid #d9d9d9
}

.ui-jqgrid tr.jqfoot.footlevel0 {
    display: table-row !important
}

.ui-jqgrid tr.jqfoot.footlevel0 td {
    background: rgba(242, 61, 24, 0.2);
    color: #f23d18
}

.ui-jqgrid tr.jqfoot.footlevel1 td {
    background: #e6e6e6;
    color: #f23d18
}

.ui-jqgrid td.jqgrid-rownum {
    padding: 0 2px 0 2px;
    margin: 0
}

.ui-jqgrid .ui-jqgrid-resize-mark {
    width: 2px;
    left: 0;
    background-color: #777;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 100px;
    overflow: hidden;
    display: none;
    border: 0 none;
    z-index: 99999
}

.ui-jqgrid .ui-jqgrid-sdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none
}

.ui-jqgrid .ui-jqgrid-ftable {
    table-layout: fixed;
    margin-bottom: 0;
    border-right: 1px solid #ced2d9;
    border-top: 1px solid rgba(255, 255, 255, 0.8)
}

.ui-jqgrid .ui-jqgrid-ftable tr {
    background: repeating-linear-gradient(to bottom, #e2e6eb, #e2e6eb 34px, #ced2d9 1px, #ced2d9);
    background-size: 100% 35px;
    border: 0 none
}

.ui-jqgrid tr.footrow td {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    padding: 0
}

.ui-jqgrid tr.footrow td .foot {
    width: 100%;
    height: 34px;
    padding: 0 5px 0 0;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    line-height: 35px
}

.ui-jqgrid tr.footrow td .foot.col {
    padding-right: 10px;
    border-right: 1px solid #ced2d9;
    font-size: 12px
}

.ui-jqgrid tr.footrow td .foot.avg {
    color: #0085ca
}

.ui-jqgrid tr.footrow td .foot.sum {
    color: #f23d18
}

.ui-jqgrid tr.footrow-ltr td {
    text-align: left
}

.ui-jqgrid tr.footrow-rtl td {
    text-align: right
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: none
}

tr.ui-jqgrid-labels {
    font-size: 12px
}

.ui-th-column,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    /* overflow:hidden;white-space:nowrap; */
    text-align: center;
    border-top: 0 none;
    vertical-align: middle
}

.ui-th-column.ui-state-hover,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column.ui-state-hover {
    border-color: #d5d9e0
}

.ui-th-ltr,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 1px solid #d5d9e0;
    border-top: 0;
    border-left: 0
}

.ui-first-th-ltr {
    border-right: 0 solid
}

.ui-first-th-rtl {
    border-left: 0 solid
}

tr.ui-search-toolbar input {
    margin: 1px 0 0 0
}

tr.ui-search-toolbar select {
    margin: 1px 0 0 0
}

.ui-jqgrid .ui-pager-control {
    position: relative
}

.ui-jqgrid .ui-pg-table {
    position: relative
}

.ui-jqgrid .ui-pg-table td {
    width: auto !important;
    font-weight: normal;
    vertical-align: middle;
    padding: 0 5px;
    text-align: center
}

.ui-jqgrid .ui-pg-table td .ui-paging-pager {
    table-layout: auto
}

.ui-jqgrid .ui-pg-table td.ui-pg-button .ui-separator {
    display: none
}

.ui-jqgrid .ui-pg-table td .navtable {
    width: auto
}

.ui-jqgrid .ui-pg-table td .navtable td:first-child {
    padding-left: 0
}

.ui-jqgrid .ui-pg-table td .navtable td.ui-state-disabled {
    width: 4px !important
}

.ui-jqgrid .ui-pg-table td .navtable td.ui-state-disabled .ui-separator {
    display: inline-block;
    height: 20px;
    width: 1px;
    background: #e6e6e6;
    border: 0 none
}

.ui-jqgrid .ui-pg-table #pager_center {
    width: 300px !important
}

.ui-jqgrid .ui-pg-table .ui-pg-table.ui-common-table.ui-paging-pager {
    z-index: 1
}

.ui-jqgrid .ui-pg-button span {
    display: inline-block;
    float: left;
    margin: 0
}

.ui-jqgrid .ui-pg-button span.ui-icon-seek-first::before {
    content: "\f048"
}

.ui-jqgrid .ui-pg-button span.ui-icon-seek-prev::before {
    content: "\f04a"
}

.ui-jqgrid .ui-pg-button span.ui-icon-seek-next::before {
    content: "\f04e"
}

.ui-jqgrid .ui-pg-button span.ui-icon-seek-end::before {
    content: "\f051"
}

.ui-jqgrid .ui-pg-button.ui-state-hover {
    border: 0 none;
    background: transparent
}

.ui-jqgrid .ui-pg-button.ui-state-hover .ui-icon:before {
    color: #e5f0ff
}

.ui-jqgrid .ui-state-disabled:hover {
    padding: 1px
}

.ui-jqgrid .ui-pg-input {
    width: auto;
    height: 24px;
    font-size: 13px;
    text-align: center;
    margin: 0
}

.ui-jqgrid .ui-pg-selbox {
    font-size: 13px;
    line-height: 22px;
    display: block;
    width: 60px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    background: url(../img/contents/bg-select.png) no-repeat #fff;
    background-position: right 9px top 50%;
    background-size: 9px auto;
    border-color: #e5e5e5
}

.ui-jqgrid .ui-separator {
    height: 26px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 1px;
    float: right
}

.ui-jqgrid .ui-paging-info {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666
}

.ui-jqgrid .ui-paging-info em {
    position: relative;
    top: 1px;
    font-size: 14px;
    color: #f23d18
}

.ui-jqgrid .ui-paging-info span {
    font-size: 11px;
    color: #000;
    position: relative;
    top: -1px
}

.ui-jqgrid td input,
.ui-jqgrid td select .ui-jqgrid td textarea {
    margin: 0
}

.ui-jqgrid td textarea {
    width: auto;
    height: auto
}

.ui-jqgrid .ui-jqgrid-toppager {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 25px;
    white-space: nowrap;
    overflow: hidden
}

.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
    padding: 0;
    float: left;
    position: relative
}

.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon {
    float: left;
    margin: 0 2px
}

.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
    cursor: pointer
}

.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
    display: block
}

.ui-jqgrid .ui-subgrid {
    margin: 0;
    padding: 0;
    width: 100%
}

.ui-jqgrid .ui-subgrid table {
    table-layout: fixed
}

.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
    height: 18px;
    border: 1px solid #ccc
}

.ui-jqgrid .ui-subgrid td.subgrid-cell {
    border-width: 1px 0 1px 0
}

.ui-jqgrid .ui-subgrid td.subgrid-cell .ui-icon {
    display: none
}

.ui-jqgrid .ui-subgrid td.subgrid-data {
    border-width: 1px 0 1px 0;
    padding: 10px 10px 10px 0
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-hdiv.space {
    padding-right: 0
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-bdiv.space:before {
    background: #fff;
    border-color: #f2f2f2
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-hbox {
    float: left;
    padding-right: 19px;
    background-color: #e2e6eb
}

.ui-jqgrid .ui-subgrid td.subgrid-data _:-ms-lang(x),
.ui-jqgrid .ui-subgrid td.subgrid-data _:-webkit-full-screen,
.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-hbox {
    padding-right: 11px
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable {
    table-layout: fixed;
    margin: 0
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th {
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    border-right: 0 solid #e5e5e5
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 1.2;
    word-break: break-all;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th div {
        padding: 5px 5px 6px
    }
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th div.group {
    background: #f2f2f2
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th div br {
    content: '';
    display: block;
    margin: 0
}

.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th _:-ms-lang(x),
.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th _:-webkit-full-screen,
.ui-jqgrid .ui-subgrid td.subgrid-data .ui-jqgrid-htable th div {
    padding: 6px 5px
}

.ui-jqgrid .ui-th-subgrid {
    height: 40px
}

.ui-jqgrid .loading {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    z-index: 101;
    padding: 10px;
    margin: 5px;
    background: #525866;
    border-width: 1px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center
}

.ui-jqgrid .loading:hover {
    color: #fff
}

.ui-jqgrid .jqgrid-overlay {
    display: none;
    z-index: 100
}

* .jqgrid-overlay iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.ui-jqgrid .ui-userdata {
    border-left: 0 none;
    border-right: 0 none;
    height: 21px;
    overflow: hidden
}

.ui-jqdialog {
    display: none;
    width: 300px;
    position: absolute;
    padding: 0;
    border: 0 none;
    font-size: 11px;
    overflow: visible;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.ui-jqdialog .ui-jqdialog-titlebar {
    padding: 15px;
    position: relative;
    background: #e5f0ff;
    border: 0 none
}

.ui-jqdialog .ui-jqdialog-title {
    width: calc(100% - 30px);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff
}

.ui-jqdialog .ui-jqdialog-title b {
    font-weight: normal;
    color: #fff
}

.ui-jqdialog .ui-jqdialog-titlebar-close {
    position: absolute;
    top: 50%;
    right: 0 !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    text-indent: -9999em
}

.ui-jqdialog .ui-jqdialog-titlebar-close:before,
.ui-jqdialog .ui-jqdialog-titlebar-close:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 25px;
    width: 1px;
    height: 26px;
    background: #d9d9d9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ui-jqdialog .ui-jqdialog-titlebar-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ui-jqdialog .ui-jqdialog-titlebar-close:hover {
    background-color: transparent
}

.ui-jqdialog .ui-jqdialog-titlebar-close:hover:before,
.ui-jqdialog .ui-jqdialog-titlebar-close:hover:after {
    background: #fff
}

.ui-jqdialog .ui-jqdialog-titlebar-close span {
    display: none
}

.ui-jqdialog .ui-jqdialog-titlebar-close.ui-state-hover {
    border: 0 none
}

.ui-jqdialog .ui-jqconfirm {
    padding: .4em 1em;
    border-width: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow: visible;
    display: none;
    height: 80px;
    width: 220px;
    text-align: center
}

.ui-jqdialog>.ui-resizable-se {
    bottom: -3px;
    right: -3px;
    display: none
}

.ui-jqdialog-content,
.ui-jqdialog .ui-jqdialog-content {
    border: 0;
    background: none;
    height: auto
}

.ui-jqdialog-content .ui-state-error,
.ui-jqdialog .ui-jqdialog-content .ui-state-error {
    border: 0 none
}

.ui-jqdialog-content div,
.ui-jqdialog .ui-jqdialog-content div {
    padding: 15px 15px 25px
}

.ui-jqgrid>.ui-resizable-se {
    bottom: -3px;
    right: -3px
}

.ui-jqdialog-content .FormGrid {
    margin: 0
}

.ui-jqdialog-content .EditTable {
    width: 100%;
    margin-bottom: 0
}

.ui-jqdialog-content .EditTable td.ui-state-error {
    height: auto;
    padding: 5px 0 5px 1px;
    background: #fff;
    font-size: 12px;
    color: #000
}

.ui-jqdialog-content .EditTable td.topinfo {
    height: auto;
    padding: 5px 0 5px 1px;
    background: #fff;
    font-size: 12px;
    color: #000
}

.ui-jqdialog-content .EditTable tr:last-of-type td {
    border-bottom: 0 none !important
}

.ui-jqdialog-content .DelTable {
    width: 100%;
    margin-bottom: 5px
}

.ui-jqdialog-content .DelTable td.delmsg {
    padding: 20px 0;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    text-align: center
}

.ui-jqdialog-content .DelTable td.ui-state-error {
    padding: 0 0 5px 1px;
    background: #fff;
    font-size: 12px;
    color: #000
}

.ui-jqdialog-content td.EditButton {
    text-align: right;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    padding-bottom: 5px;
    padding-top: 5px
}

.ui-jqdialog-content td.navButton {
    text-align: center;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none;
    padding-bottom: 5px;
    padding-top: 5px
}

.ui-jqdialog-content .data-line {
    padding-top: .1em;
    border: 0 none
}

.ui-jqdialog-content .CaptionTD {
    padding: 16px 0 0 20px;
    background-color: #f2f2f2;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #4d4d4d;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    color: #ccc
}

.ui-jqdialog-content .CaptionTD b,
.ui-jqdialog-content .CaptionTD label {
    color: #ccc
}

.ui-jqdialog-content .DataTD {
    padding-right: 5px;
    border-width: 0 0 1px 0
}

.ui-jqdialog-content .DataTD label {
    color: #333
}

.ui-jqdialog-content .DataTD textarea {
    width: 100%
}

.ui-jqdialog-content .form-view-data {
    white-space: pre
}

.ui-jqdialog-content .alertcnt {
    padding: 20px 0 !important;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    text-align: center
}

.EditTable td input,
.EditTable td select,
.EditTable td textarea {
    margin: 0
}

.EditTable td textarea {
    width: auto;
    height: auto
}

.fm-button {
    zoom: 1
}

.fm-button.button {
    width: 100%;
    height: 25px;
    font-size: 12px;
    letter-spacing: -.5px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.fm-button.button::-ms-expand {
    display: none
}

.fm-button.button:focus:not([readonly]) {
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    border-color: #1f294d
}

.fm-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    display: none
}

.fm-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    display: none
}

#nData,
#pData {
    float: left
}

.EditTable td .fm-button {
    display: inline-block
}

.EditTable td.EditButton {
    height: 40px;
    padding: 10px 0 0 0;
    vertical-align: top
}

.EditTable td.EditButton .fm-button {
    position: relative
}

.EditTable td.EditButton .fm-button:hover .ui-icon:before {
    color: #e5f0ff
}

.EditTable td.EditButton .fm-button:last-child {
    margin-right: 0
}

.EditTable td.EditButton .fm-button-icon-left .ui-icon {
    position: absolute;
    top: 3px;
    right: initial;
    left: 0;
    margin-top: 0
}

.EditTable td.EditButton .fm-button-icon-right .ui-icon {
    position: absolute;
    top: 3px;
    right: initial;
    left: 0;
    margin-top: 0
}

.EditTable td.navButton {
    padding: 0;
    text-align: left;
    vertical-align: top
}

.EditTable td.navButton .fm-button {
    width: 40px;
    height: 40px;
    margin: 8px 5px 0 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    cursor: pointer
}

.EditTable td.navButton .fm-button span.ui-icon {
    line-height: 38px
}

.EditTable td.navButton .fm-button span.ui-icon.ui-icon-triangle-1-w {
    margin-right: 0
}

.EditTable td.navButton .fm-button span.ui-icon.ui-icon-triangle-1-e {
    margin-left: 0
}

.EditTable td.navButton .fm-button span.ui-icon:before {
    color: #e5f0ff
}

.EditTable td.navButton .fm-button:hover {
    border-color: #e5f0ff;
    color: #e5f0ff
}

.searchFilter {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px
}

.searchFilter .ui-widget-content {
    background: transparent
}

.ui-jqgrid .selected-row,
div.ui-jqgrid .selected-row td {
    font-style: normal;
    border-left: 0 none
}

.ui-inline-del.ui-state-hover span,
.ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span,
.ui-inline-cancel.ui-state-hover span {
    margin: -1px
}

.ui-jqgrid .tree-wrap {
    float: left;
    position: relative;
    height: 18px;
    white-space: nowrap;
    overflow: hidden
}

.ui-jqgrid .tree-minus {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}

.ui-jqgrid .tree-plus {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}

.ui-jqgrid .tree-leaf {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}

.ui-jqgrid .treeclick {
    cursor: pointer
}

* iframe.jqm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.ui-jqgrid-dnd tr td {
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    height: 20px
}

.ui-search-menu {
    position: absolute;
    padding: 2px 5px
}

a.g-menu-item,
a.soptclass,
a.clearsearchclass {
    cursor: pointer
}

.jqgrid-new-row {
    color: #1B641B;
    background-color: #A8E798;
    border-color: #7E9E64
}

.ui-jqdialog-content .DataTD {
    padding-bottom: 5px
}

.ui-jqdialog-content .DataTD:last-child {
    padding-bottom: 10px
}

.ui-jqgrid-htable thead {
    border-bottom: 0 none
}

.callback {
    position: relative;
    padding-right: 30px
}

.callback span.call {
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 0;
    width: 28px;
    height: 26px;
    background: #494a4d;
    border-radius: 2px;
    cursor: pointer
}

.callback span.call:hover {
    background: #303133;
    cursor: pointer
}

.callback span.call.disabled {
    background: rgba(0, 0, 0, 0.1);
    cursor: default
}

.callback span.call.disabled:before {
    color: rgba(0, 0, 0, 0.2)
}

.callback span.call.disabled:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: default
}

.callback span.call.disabled:hover:before {
    color: rgba(0, 0, 0, 0.2)
}